.card-wrapper {

    border-style: solid;
    border-color: black;
    border-radius: 11px;
    border-width: 1px;

    width: 20%;

    padding: 1%;
    margin: 1%;

    flex: 1;
}

.note-board {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.tag-container {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    font-size: smaller;
    color: rgb(0, 0, 0);
    padding: 4px 6px;
    margin: 4px 6px;
    border-radius: 20px;
}

.note-form {
    align-items: center;
    flex-direction: column;
    display: flex;

    border-style: solid;
    border-color: black;
    border-radius: 11px;
    border-width: 1px;
}

.note-form-input,
button {
    padding: 3px;
    margin: 3px;
}

.searchbar {
    margin: 10px;
    width: 90%;
}